$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$sudo_blue: #101740;
$sudo_green: #27CC95;

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;  
}


body {
  font-size: 16px;
}

nav {
  display: flex; 
  background-color: $sudo_blue;
  
  align-items: center;
  justify-content: space-around;
  
  padding: 7px 21px;

  .logo {
    flex-grow: 7;
    img {
      width: 30px;
    }
  }
  .nav_list {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    a {
      color: white;
      display: block;
      padding: 14px;

      text-decoration: none;
    }
  }
}
section {
  display: flex;
  justify-content: center;
  align-items:flex-start;  
  .title {
    flex-basis: 5%;
    text-align: right;
    padding-right: 10%;
    img {
      width: 35px;
    }
  }
  .content {
    flex-basis: 60%;
  }  
}


#ticket_rules {
  background-image: url(../images/ticket_bg.png);
  background-repeat: repeat;
  padding: 42px 0;
  box-shadow: 0 5px 5px rgba(black, 0.1);

  p {
    margin-bottom: 35px;
  }
  ol {
    font-size: 14px;
    color: $sudo_green;

    padding-left: 14px;

  }
}

#schedule {
  position: relative;
  background-color: $sudo_blue;
  align-items: flex-start;

  .para {
    flex-basis: 100%;
    position: absolute;
    width: auto;
    @include transform(scale(0.4));
  }
  .title {
    margin-top: 142px;
  }
  .title, .content {
    z-index: 50;
  }
  .content {
    text-align: center;
    .timeline {
      display: inline-block;
      width: 7px;
      height: 700px;
      background-color: #1A6867;
    }    
  }
}

#jobs {
  background-color: white;
  background-image: url(../images/jobs_bg.png);
  background-repeat: repeat;  
  position: relative;
  z-index: 55;

  
}

.para1 {
  top: -150px;
  left: -150px;
  z-index: 1;
}

.para3 {
  top: 390px;
  left: -5%;
  z-index: 2;
}

.para5 {
  right: 100px;
  top: 300px;
  z-index: 3;
}

.para7 {
  top: -120px;
  right: 50px;
  z-index: 4;
}

.para9 {
  top: 100px;
  left: 300px;
  z-index: 5;
}

.para2 {
  top: 400px;
  left: -70px;
}

.para4 {
  left: 10%;
  top: 250px;
}

.para6 {
  left: 30%;
  top: 10px;
}

.para8 {
  right: 30%;
  top: 100px;
}

.para10 {
  right: -30px;
  top: 60px;
}

.para12 {
  right: 30px;
  top: 500px;
}